*.iso
*.data
*.zip
*.tar.gz
*.a

tutorials/*/*.o
tests/*.o
release/*
counter_test/*
.d/*
build/*
mml*
html/*
ignored/*

!tutorials/DefensiveAI/*.data
!tutorials/DI/*.data
!tutorials/Recovery/*.data
!tutorials/SimpleProgram/*.data
!tutorials/Teching/*.data

